<div class="container">
<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#" class="breadcrumb">Sign In</a>
        <a href="#" class="breadcrumb">Sign Out</a>
      </div>
    </div>
  </nav>

<h4>Sign In</h4>

<%= form_tag do %>
<div class="">
  <%= label_tag :email %>
  <%= text_field_tag :email %>
</div>

<div class="">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>

<div class="">
  <%= submit_tag "+", class: "btn-floating btn-large waves-effect waves-light red" %>
</div>
<% end %>

<p>Or
  <%= link_to 'Sign Up', new_user_path %>
</div>
