<div class="container">
<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#" class="breadcrumb">Sign In</a>
        <a href="#" class="breadcrumb">Sign Out</a>
      </div>
    </div>
  </nav>
<h4>Register</h4>

<% @user.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>

<%= form_for @user do |f| %>
<div class="">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>


<div class="">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="">
  <%= f.submit %>
</div>
<% end %>

</div>
